.weather__card{
    height: 80px;
    border-radius: 12px;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 32px;
    position: relative;


}

.weather__card-img{
  width: 100%;
  object-fit: cover;
  object-position: right top;
  position: absolute;
  display: block;
  
}
.weather__card-temp {
  position: absolute;
  z-index: 3;
  left: 20px;
  bottom: -15px;
  color: white;
}
.weather__card-info {
  margin-top: 10px;
  color: black;
  position: relative;
  z-index: 4;
  top: 110px;
}

@media screen and (max-width: 480px) {
  .weather__card {
    width: 100%;
  }

  .weather__card-img {
    width: 100%;
    height: auto;
    display: block;
  }
}