.container {
  background-color: #f3f3f3;
  width: 100%;
}

.main__top-bar {
  font-family: "CabinetGrotesk-Medium", Arial, Helvetica, sans-serif;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main__date-location {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
.main__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 25px;
  list-style: none;
  margin-left: -45px;
  
}

@media screen and (max-width: 480px) {
  .main__top-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .main__left {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .main__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__items {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: calc((100vw-47px) / 2);
  }
}
