.container {
  background-color: #F3F3F3;
  width: 100%;
}

.main__top-bar {
  font-family: "CabinetGrotesk-Medium", Arial, Helvetica, sans-serif;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__left {
  display: flex;
  align-items: center;
  gap: 16px;

}

.main__date-location{
  margin: 0;
  font-size: 20px;
  font-weight: 700;

}
.main__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  grid-auto-rows: calc((100vw-47px)/2);
  margin-top: 80px;

}


